li{
    list-style: none;
}

footer{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: var(--tag-and-footer);
    max-width: 1350px;
    min-height: 250px;
    margin-left: 400px;
}

.footerImg{
    margin: 60px;
    max-height: 100px;
    min-height: 100px;
}

