ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--blue);
    padding: 15px;
    margin-left: 350px;
    margin-right: 350px;
    color: white;
}

